extends ./layout/_layout-page.pug

block content

  main.mdl-layout__content
    .page-content
      .navigation
        .breadcrumb Discussions
      //- navigation
      
      section
        .search-bar.card.mdl-layout__header-row
          form(action='#')
            .mdl-textfield.mdl-js-textfield.mdl-textfield--expandable
              label.mdl-button.mdl-js-button.mdl-button--icon(for='sample6')
                i.material-icons search
              //- label
              .mdl-textfield__expandable-holder
                input#sample6.mdl-textfield__input(type='text')
                label.mdl-textfield__label(for='sample-expandable') Expandable Input
              //- mdl-textfield__expandable-holder
            //- mdl-textfield
          //- form
          .mdl-layout-spacer
          button.mdl-button.mdl-js-button.mdl-button--icon
            i.material-icons mic
          //- button
        //- mdl-card
      //- section
      ul.class-room
        li.class
          a(href='') Class Room B
          ul.topic
            li
              a(href='topic.html') Engeeniring Topic
            //- li
            li
              a(href='topic.html') Architecture Topic
            //- li
            li
              a(href='topic.html') Electronics Topic
            //- li
            li
              a(href='topic.html') Mechanical Topic
            //- li
          //- topic
        //- li
        li.class
          a(href='') Class Room C
          ul.topic
            li
              a(href='topic.html') Engeeniring Topic
            //- li
            li
              a(href='topic.html') Architecture Topic
            //- li
            li
              a(href='topic.html') Electronics Topic
            //- li
            li
              a(href='topic.html') Mechanical Topic
            //- li
          //- topic
        //- li
      //- class-room
    //- page-content
    
  //- main

block scripts
  script.
    $(document).ready(function() {
      
    });
