extends ./layout/_layout-page.pug

block content

  main.mdl-layout__content
    .page-content
      .navigation
        a.mdl-button.mdl-js-button.mdl-button--icon(href='topic.html')
          i.material-icons arrow_back
        //- button
        .breadcrumb Greyhound divisively hello coldly wonderfully marginally…
      //- navigation
      
      .mdl-card.topic-details
        .album-frame
          i.material-icons filter
        //- album-frame
        .mdl-card__actions._aright
          button.mdl-button.mdl-js-button.mdl-button--icon
            i.material-icons favorite_border
          //- button
          a.mdl-button.mdl-js-button.mdl-button--icon(href='response.html')
            i.material-icons chat_bubble_outline
          //- button
          a.download.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
            | Download Attachment
          //- a
        //- mdl-card__actions
        .mdl-card__title
          img(src='http://via.placeholder.com/40')
          .name
            | Tom Hardy
            .datestamp Friday at 05:24 PM
          //- name
        //- mdl-card__title
        .mdl-card__supporting-text
          a.response(href='response.html')
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | Mauris sagittis pellentesque lacus eleifend lacinia...
        //- mdl-card__supporting-text
      //- mdl-card
    //- page-content
    
    button.floating-add.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored
      i.material-icons add
    //- button
  //- main

block scripts
  script.
    $(document).ready(function() {
      
    });
